.header__search {
  background: #00000000;
  border: none;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #FFFFFF;
  max-width: 65px;
}

.header__search::placeholder {
  color: #ffffff;
}
