.header__btn-login {
  background: #00000000;
  border: none;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #FFFFFF;
  margin-right: 25px;
}
